@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body{
  background: #24273A;
  font-size: 20px;
  color: #CAD3F5;
  font-family: 'Jetbrains Mono', monospace;
  font-weight: 600;
  align-items: left;
  text-align: left;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
}

h1{
  background: #b7bdf8;
  color: #24273A;
  font-size: 35px;
  /* font-style:italic; */
  padding: 0 0.5em;
  display: inline-block;
  /* font-size: inherit; */

  /* font-weight: 900; */
}
h4{
  /* text-align:center; */
  /* display: ; */
  display: inline-block;
  font-size: inherit;
  font-weight:500;
  font-style:italic;
  /* padding: 0 0.5em; */
  margin-bottom: 0;
  background:#89b4fa;
  color:#1e1e2e;
}

.desc{
  text-align:left;
  /* padding:20px; */
  max-width: 1000px;
  font-weight: 500;
  color:#b7bdf8;
}

.hd{
  text-align:left;
  padding: 0 0.5em;
}

h3{
  text-align: left;
  font-weight: 500;
}

a{
  color:#f0c6c6;
  text-decoration: none;
}

.try{
  width: 100%;
  max-width: 50ch;
}

.github:hover{
  color:#6e738d;
}

.twitter:hover{
  color:#8aadf4;
}

.reddit:hover{
  color:#ee99a0;
}

.instagram:hover{
  color:#f5bde6;
}
